.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  border-radius: 50%;
}
.logo__text {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: $default-color;
  padding-left: 9px;
}
.logo__subtitle {
  font-weight: 300;
  margin-top: 6px;
}
